---
import MainLayout from "../layouts/MainLayout.astro";
import Form from "../components/Form.astro";
import Topbanner from "../components/Topbanner.astro";
---

<MainLayout>
  <Topbanner />
  <section class="md:flex justify-center gap-64 p-10">
    <div class="">
      <img src="/public/svg/man-laptop05mline.svg" alt="" class="" />
    </div>
    <div><Form /></div>
  </section>
</MainLayout>
