---
import MainLayout from "../layouts/MainLayout.astro";
import Form from "../components/Form.astro";
import Topbanner from "../components/Topbanner.astro";
---

<MainLayout>
  <Topbanner />
  <section
    class="md:flex flex-row-reverse justify-center gap-64 p-12 bg-secondarylight -mb-40 z-50"
  >
    <div><Form /></div>
    <img src="/public/svg/man-laptop05mline.svg" alt="" class="-mb-96 z-50" />
  </section>
  <img src="/public/svg/bakker.svg" alt="" class="w-full bg-secondarylight" />
</MainLayout>
