---
import MainLayout from "../layouts/MainLayout.astro";
import Howtotrin from "../components/Howtotrin.astro";
import FireFodskridt from "../components/Firefodskridt.astro";
import Topbanner from "../components/Topbanner.astro";
---

<MainLayout>
  <section class="bg-secondarylight">
    <Topbanner />
    <div class="bg-primarylight m-36 rounded-3xl text-whiteish">
      <h1
        class="text-4xl md:text-5xl lg:text-6xl font-bold text-white text-center py-16 px-48"
      >
        Sådan rydder du op i dine digitale fodspor
      </h1>
      <div class="flex flex-col items-center">
        <Howtotrin
          imageSrc="/svg/document.svg" alt="co2 klode icon"
          altText="foto"
          headline="Trin 1: Ryd op i din smartphone"
          paragraphText="Slet apps, du sjældent eller aldrig bruger, da de kan dræne batteri og bruge data. Fjern også gamle konti og data for at øge din telefons hastighed og batterilevetid. Gennemgå dine fotos og "
        />

        <FireFodskridt />

        <Howtotrin
          imageSrc="/svg/document.svg" alt="Harddisk icon"
          altText="foto"
          headline="Trin 1: Ryd op i din smartphone"
          paragraphText="Slet apps, du sjældent eller aldrig bruger, da de kan dræne batteri og bruge data. Fjern også gamle konti og data for at øge din telefons hastighed og batterilevetid. Gennemgå dine fotos og "
        />

        <FireFodskridt />

        <Howtotrin
          imageSrc="/svg/document.svg" alt="email icon"
          altText="foto"
          headline="Trin 1: Ryd op i din smartphone"
          paragraphText="Slet apps, du sjældent eller aldrig bruger, da de kan dræne batteri og bruge data. Fjern også gamle konti og data for at øge din telefons hastighed og batterilevetid. Gennemgå dine fotos og "
        />

        <FireFodskridt />

        <Howtotrin
          imageSrc="/svg/document.svg" alt="Samarbejdsplatformen cloud"
          altText="foto"
          headline="Trin 1: Ryd op i din smartphone"
          paragraphText="Slet apps, du sjældent eller aldrig bruger, da de kan dræne batteri og bruge data. Fjern også gamle konti og data for at øge din telefons hastighed og batterilevetid. Gennemgå dine fotos og "
        />
      </div>
    </div>
  </section>
</MainLayout>
