---
import MainLayout from "../layouts/MainLayout.astro";
import Primarybtn from "../components/Primarybtn.astro";
import "./styles/tailwind.css";
---

<h1 class="text-3xl font-bold underline font-serif bg-accent">
  Hello, Tailwind!
</h1>
<div class="btn-1 pb-6"><button class="bg-white px-6 py-3 text-xl uppercase tracking-widest hover:bg-black hover:text-white">Standard</button></div> <!-- Adding letter spacing= tracking-widest -->
			




<!--  -->
<style>

</style>
<!--  -->
<script>

</script>
