---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/tailwind.css";
---

<h1 class="text-3xl font-bold underline font-serif bg-accent">
  Hello, Tailwind!
</h1>






<!--  -->
<style>

</style>
<!--  -->
<script>

</script>
