---
import MainLayout from "../layouts/MainLayout.astro";
import Deltagerkort from "../components/Deltagerkort.astro";

import Primarybtn from "../components/Primarybtn.astro";
import "./styles/tailwind.css";
import Secondarybtn from "../components/Secondarybtn.astro";
import Link from "../components/Link.astro";
import Afrundtbanner1 from "..//components/Afrundtbanner1.astro";
import Afrundtbanner2 from "..//components/Afrundtbanner2.astro";
---

<body class="bg-primarylight px-8 py-8">

<MainLayout title="Titel">

</MainLayout>			

<Primarybtn btnText="Registrer" link="#" />
<Secondarybtn btnText="Del med en ven" link="#" />
<Link btnText="Tilfoj til kalender" link="#" />
<Afrundtbanner1 btnText="Skær ned på dit CO2-udslip ved at deltage i Digital Cleanup Day!" />
<Afrundtbanner2 btnText="Husk Digital Clenaup Day d. 15 marts 2025" />
</body>