---
const btnText = Astro.props.btnText;
---

<!-- Det "GULE" banner -->
<div class="bg-[#FFDA03] text-[#012b27] px-4 py-2 inline-flex items-center rounded-l-full border border-[#012b27]">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-12 mr-4" viewBox="0 0 99.21 96.38">
      <defs>
        <style>.cls-1{fill:transparent}</style>
      </defs>
      <path d="M98.09,7.22v88.71c-.44-.01-.88-.03-1.32-.03-31.46,0-62.92,0-94.38,0-.43,0-.86,0-1.27,0V7.16c.48,0,.89,0,1.3,0,7.64,0,15.29,0,22.93.01.65,0,1-.13,1.21-.83,1.26-4.26,5.95-6.92,10.55-5.43,3.45,1.12,6.36,4.78,5.63,9.46-.57,3.65-4.25,6.83-8.08,6.86-.98,0-1.75-.66-1.8-1.57-.05-.97.54-1.65,1.56-1.79.37-.05.75-.08,1.12-.16,2.24-.48,3.85-2.39,3.96-4.7.11-2.16-1.42-4.28-3.56-4.93-2.55-.77-5.45.69-5.97,3.1.93,0,1.84-.03,2.74,0,1.08.05,1.81.76,1.79,1.69-.01.88-.7,1.55-1.74,1.65-.34.03-.69.02-1.04.02-8.69,0-17.37,0-26.06,0-.39,0-.79,0-1.19,0v11.59h90.16v-11.59h-1c-6.6,0-13.2.01-19.8-.02-.76,0-1.09.22-1.32.96-1,3.29-4.23,5.67-7.67,5.75-1,.02-1.77-.6-1.86-1.5-.1-1,.51-1.71,1.58-1.86.41-.05.82-.09,1.22-.18,2.5-.58,4.16-3.04,3.76-5.55-.4-2.5-2-3.89-4.99-4.32-1.04-.15-1.63-.81-1.57-1.77.05-.92.81-1.58,1.79-1.58,3.4-.01,6.74,2.44,7.75,5.76.22.73.53.97,1.31.96,7.71-.03,15.41-.02,23.12-.02.38,0,.75.04,1.13.06ZM47.8,92.46v-19.97h-19.92v19.97h19.92ZM51.34,72.45v20.01h19.91v-20.01h-19.91ZM47.84,25.65h-19.98c-.02.21-.04.36-.04.52,0,6.22,0,12.44-.02,18.67,0,.72.3.82.9.82,6.13-.02,12.25,0,18.38-.01.24,0,.49-.04.75-.07v-19.92ZM51.33,25.63v19.96c.19.02.31.05.43.05,6.25,0,12.51,0,18.76.02.74,0,.8-.34.8-.92-.01-6.13,0-12.25-.01-18.38,0-.24-.05-.48-.08-.73h-19.9ZM4.49,25.64v19.95h19.88v-19.95H4.49ZM74.76,25.64c-.02.23-.05.38-.05.53,0,6.22,0,12.44-.02,18.67,0,.71.3.82.9.82,6.1-.02,12.19,0,18.29-.01.24,0,.49-.04.78-.06v-19.94h-19.9ZM27.88,68.97h19.95v-19.88h-19.95v19.88ZM24.4,72.49H4.48v19.95h19.92v-19.95ZM94.64,92.48v-20h-19.86v20h19.86ZM4.49,49.08v19.87h19.87v-19.87H4.49ZM94.65,68.99v-19.88h-19.9v19.88h19.9ZM51.32,49.09v19.88h19.93v-19.88h-19.93Z"/>
      <path class="cls-1" d="M47.8,72.49v19.97h-19.92v-19.97"/>
      <path class="cls-1" d="M27.88,68.97v-19.88h19.95v19.88h-19.95Z"/>
      <path class="cls-1" d="M4.49,49.08h19.87v19.87H4.49"/>
      <path d="M62.98,8.88c-.07,4.49-3.63,8.14-8.16,8.34-.99.04-1.78-.59-1.87-1.49-.1-1.04.51-1.74,1.66-1.88,2.82-.34,4.48-1.8,4.89-4.31.42-2.52-1.33-5.06-3.85-5.57-.4-.08-.81-.12-1.22-.18-1.01-.16-1.57-.86-1.48-1.84.08-.87.83-1.54,1.76-1.5,4.7.21,8.11,3.71,8.26,8.42Z"/>
      <path d="M52.94,8.89c-.07,4.49-3.66,8.15-8.16,8.33-.99.04-1.78-.59-1.86-1.5-.1-1.04.52-1.73,1.66-1.87,2.77-.33,4.44-1.77,4.88-4.22.46-2.57-1.29-5.15-3.85-5.66-.4-.08-.81-.12-1.22-.18-1.01-.16-1.57-.86-1.47-1.84.08-.87.83-1.54,1.77-1.49,4.7.21,8.11,3.73,8.26,8.43Z"/>
      <path d="M61.29,56.65c1.35-1.36,2.66-2.67,3.97-3.98.49-.49.96-1,1.48-1.46.8-.71,1.71-.72,2.38-.07.7.67.73,1.66-.04,2.45-1.65,1.7-3.34,3.36-5.01,5.04-.11,.11-.22,.23-.32,.34-.69,.69-1.73,.68-2.39-.02-.65-.68-.65-1.7,.01-2.31Z"/>
    </svg>
    <span>{btnText}</span>
  </div>
  