---

---

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="bg-green-900 rounded-lg p-6 text-center mx-auto" style="width: 508px; height: 488px;">
      <div class="mb-4">
        <img style="width:142px; height: 142px;" src="/public/svg/company.svg" alt="">
      </div>
      <h2 class="text-xl font-bold text-secondarylight">Organisation</h2>
      <p class="mt-2 text-sm text-secondarylight">
        Tilmeld din virksomhed eller organisation til Digital Cleanup Day 2025
      </p>
      <button class="mt-4 bg-gray-100 text-green-900 font-semibold py-2 px-4 rounded-full">
        REGISTRER
      </button>
    </div>
  
    <div class="bg-green-900 rounded-lg p-6 text-center mx-auto" style="width: 508px; height: 488px;">
      <div class="mb-4">
        <img style="width:142px; height: 142px;" src="/public/svg/company.svg" alt="">
      </div>
      <h2 class="text-xl font-bold text-secondarylight">Organisation</h2>
      <p class="mt-2 text-sm text-secondarylight">
        Tilmeld din virksomhed eller organisation til Digital Cleanup Day 2025
      </p>
      <button class="mt-4 bg-gray-100 text-green-900 font-semibold py-2 px-4 rounded-full">
        REGISTRER
      </button>
    </div>
</div>
