---
// You can pass props if needed, such as `src` for the image source.
const { src, alt = 'Image' } = Astro.props;
---

<div x-data="{ visible: false }" x-init="window.addEventListener('scroll', () => {
    const elementTop = $el.getBoundingClientRect().top;
    const windowHeight = window.innerHeight;
    if (elementTop < windowHeight - 100) {
      visible = true;
    }
  })"
  :class="{'opacity-0': !visible, 'opacity-100': visible}"
  class="transition-opacity duration-700 ease-in-out"
>
<img src="/svg/fodsporvol2.svg" alt="Your Image">
</div>

<style>
    .transition-opacity {
        transition: opacity 0.7s ease-in-out;
    }
</style>

<script src="//unpkg.com/alpinejs" defer></script>