---

---

<div x-data="{ visible: false }" x-init="window.addEventListener('scroll', () => {
    const elementTop = $el.getBoundingClientRect().top;
    const windowHeight = window.innerHeight;
    if (elementTop < windowHeight - 100) {
      visible = true;
    }
  })"
  :class="{'opacity-0': !visible, 'opacity-100': visible}"
  class="transition-opacity duration-700 ease-in-out"
>
<img src="/svg/fodspor.svg" alt="Your Image" class="w-12 h-12 md:w-16 md:h-16 mx-auto">
</div>

<script src="//unpkg.com/alpinejs" defer></script>
