---

---

<div class="bg-secondary rounded flex justify-center items-center">
  <form class="">
    <input type="text" placeholder="Fornavn" />
    <br />
    <input type="text" placeholder="Efternavn" />
    <br />
    <input type="email" placeholder="Email" />
    <br />
    <select>
      <option value="" disabled selected>Vælg Land</option>
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>
    <br />
    <input type="text" placeholder="Virksomhedsnavn (valgfrit)" />
    <br />
    <input type="number" placeholder="Antal deltagere" />
    <br />
    <input type="number" placeholder="Mængde slettet (i GB)" />
    <br />
    <input type="submit" value="Registrer" />
  </form>
</div>
