---

---

<!-- Navbar -->
<div
  x-data="{ showmenu: false }"
  class="fixed top-0 left-0 w-full bg-primary shadow-md z-50"
>
  <div
    id="navbar"
    class="flex flex-row justify-between items-center max-w-7xl mx-auto px-4 py-4"
  >
    <!-- Logo Section -->
    <div id="logo" class="flex items-center ml-0 mr-16">
      <img src="/svg/logo_header.svg" alt="hjem" class="h-12" />
    </div>

    <!-- Desktop Navigation (Hidden on Mobile) -->
    <nav id="desktopmenu" class="hidden lg:flex flex-grow justify-start ml-6">
      <ul class="flex flex-row space-x-12">
        <li>
          <a
            href="/index"
            class="text-[#F6FAFA] font-sans text-sm font-bold leading-[30px] tracking-[0.48px] uppercase hover:text-accent transition"

            >Hjem</a
          >
        </li>
        <li>
          <a
            href="/howto"
            class="text-[#F6FAFA] font-bold uppercase hover:text-accent transition"
            >How to</a
          >
        </li>
        <li>
          <a
            href="/ressourcer"
            class="text-[#F6FAFA] font-sans text-sm font-bold leading-[30px] tracking-[0.48px] uppercase hover:text-accent transition"
            >Ressourcer</a
          >
        </li>
      </ul>
    </nav>

    <!-- Register Button for Large Screens -->
    <div class="hidden lg:block ml-auto">
      <a
        href="#køb_nu"
        class="px-10 py-2 bg-[#DDEFFF] text-[#0D3C2F] uppercase rounded-full font-bold hover:bg-blue-200 transition"
        >Registrere</a
      >
    </div>

    <!-- Burger Menu Button (Mobile) -->
    <button
      class="lg:hidden text-seasalt focus:outline-none"
      x-on:click="showmenu = !showmenu"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>

  <!-- Mobile Menu (Initially Hidden) -->
  <nav
    id="mobilmenu"
    class="lg:hidden bg-primary flex flex-col items-center w-full py-4 space-y-4 border-t-0"
    x-show="showmenu"
    x-transition
    @click.outside="showmenu = false"
  >
    <ul class="w-full">
      <li class="text-center py-2">
        <a
          href="/hjem"
          class="text-[#F6FAFA] font-sans text-sm font-bold uppercase hover:text-accent transition"
          >Hjem</a
        >
      </li>
      <li class="text-center py-2">
        <a
          href="/howto"
          class="text-[#F6FAFA] font-sans text-sm font-bold uppercase hover:text-accent transition"
          >How to</a
        >
      </li>
      <li class="text-center py-2">
        <a
          href="/ressourcer"
          class="text-[#F6FAFA] font-sans text-sm font-bold uppercase hover:text-accent transition"
          >Ressourcer</a
        >
      </li>
      <li class="text-center py-2">
        <a
          href="/forms"
          class="inline-flex justify-center items-center gap-2.5 px-10 py-2 bg-[#DDEFFF] text-[#0D3C2F] uppercase rounded-full text-sm font-bold hover:bg-blue-200 hover:text-accent transition"
          >Registrere</a
        >
      </li>
    </ul>
  </nav>
</div>
